@use 'styles/variables' as *;

.sider {
  width: #{$sider-width};
  height: 100%;
}

.siderWrapper {
  border-right: 1px solid var(--border-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.siderFooter {
  padding: 0.75rem;
  border-top: 1px solid var(--border-color);
}

.roomWrapper {
  height: calc(100% - 110px);
}
