.roomView {
  position: relative;
  height: calc(100% - 42px);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.riveWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  canvas {
    width: 100%;
    height: 100%;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
