$light-primary: #1f79f7;
$dark-primary: #1e3a8a;
$light-bg: #f8fafc;
$text-color-light: #0f172a;
$border-color-light: #0505050f;
$selection-bg-color-light: rgb(228, 231, 235, 0.9);
$text-color-disabled-light: rgb(129, 129, 129);
$text-color-secondary-light: #f1f1f1;
$text-color-secondary-dark: #ddd;
$dark-primary: #60a5fa;
$dark-bg: #141414;
$text-color-dark: #e6eef8;
$border-color-dark: #fdfdfd1f;
$selection-bg-color-dark: rgba(28, 28, 28, 0.9);
$text-color-disabled-dark: #999999;
$toggle-bg-light: #f6f6f6;
$toggle-bg-dark: rgb(32, 32, 32);
$toggle-bg-light: #f6f6f6;
$toggle-bg-dark: rgb(32, 32, 32);
$toggle-hover-bg-light: #f3f3f3;
$toggle-hover-bg-dark: rgb(40, 40, 40);
$sider-width: 280px;
